<div class="flex justify-between shadow-md p-4 bg-gray-900">
    <div class="flex justify-evenly">
      <ul>
        <li class="inline-flex ml-4 text-white mr-4">
          <a href="#">Home</a>
        </li>
        <li class="inline-flex menu-bar text-white mr-4">
          <a href="#">Project</a>
        </li>
        <li class="inline-flex menu-bar text-white mr-4">
          <a href="/posts">About Me</a>
        </li>
        <li class="inline-flex menu-bar text-white mr-4"><a>Contact</a></li>
        <li class="inline-flex menu-bar text-white mr-4"><a>Resume</a></li>
      </ul>
    </div>
    <div class="flex justify-evenly">
      <div class="menu-bar mr-4 text-white">Linkdin</div>
      <div class="menu-bar mr-4 text-white">github</div>
      <div class="menu-bar mr-4 text-white ">facebook</div>
    </div>
  </div>